<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>MUEW</string>
  <key>CFBundleDisplayName</key><string>MUEW</string>
  <key>CFBundleIdentifier</key><string>co.instinct.muew.au</string>
  <key>CFBundleExecutable</key><string>MUEW</string>
  <key>CFBundlePackageType</key><string>BNDL</string>
  <key>CFBundleShortVersionString</key><string>0.66.0</string>
  <key>CFBundleVersion</key><string>53</string>
  <key>AudioComponents</key>
  <array>
    <dict>
      <key>type</key><string>aumu</string>
      <key>subtype</key><string>Muew</string>
      <key>manufacturer</key><string>Inst</string>
      <key>name</key><string>Instinct: MUEW</string>
      <key>description</key><string>MUEW original wavetable synthesizer</string>
      <key>version</key><integer>65536</integer>
      <key>factoryFunction</key><string>MUEWFactory</string>
      <key>sandboxSafe</key><true/>
    </dict>
  </array>
</dict>
</plist>
